/*
 * Globals
 * Cover template for Bootstrap, by @mdo.
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #ddd;
  border: 1px solid #ddd;
}
.btn-default:hover,
.btn-default:focus {
  background-color: #eee;
  border: 1px solid #eee;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.container {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}

.on {
  background-color: #777;
}
.off {
  background-color: #333;
}

.row {
    display: inline;
}
.col-xs-6 {
    display: inline-block;
    vertical-align: middle;
    float: none;
    padding: 0;
}

.warm-btn {
    background-color: #FEC;
    border-color: #FEC;
    color: #000;
    min-width: 70px;
    margin-bottom: 10px;
}
.warm-btn:focus,
.warm-btn:hover {
    background-color:#FEE;
}
.cool-btn {
    background-color: #CDF;
    border-color: #CDF;
    color: #EEE;
    min-width: 70px;
    margin-bottom: 10px;
}
.cool-btn:focus,
.cool-btn:hover {
    background-color:#DDF;
    color: #EEE;
}

.blah{
    display: inline-block;
    width: 100%;
}
.warm-container,
.cool-container {
    display: inline-block;
    width: 50%;
}
